In [2]:
import pandas as pd

df = pd.read_csv('Iris_new.csv')
df

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:
df.shape

(150, 5)

In [4]:
df['class'].unique().sum()

'Iris-setosaIris-versicolorIris-virginica'

In [16]:
setosa = df[df['class']=='Iris-setosa']
versicolor = df[df['class']=='Iris-versicolor']
virginica = df[df['class']=='Iris-virginica']

In [17]:
setosa.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [18]:
setosa.shape

(50, 5)

In [19]:
versicolor.head(5)

    sepal length  sepal width  petal length  petal width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

In [20]:
versicolor.shape

(50, 5)

In [21]:
virginica.head(5)

     sepal length  sepal width  petal length  petal width           class
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica

In [22]:
virginica.shape

(50, 5)

In [25]:
merged = pd.concat([virginica,setosa])
merged

     sepal length  sepal width  petal length  petal width           class
100           6.3          3.3           6.0          2.5  Iris-virginica
101           5.8          2.7           5.1          1.9  Iris-virginica
102           7.1          3.0           5.9          2.1  Iris-virginica
103           6.3          2.9           5.6          1.8  Iris-virginica
104           6.5          3.0           5.8          2.2  Iris-virginica
..            ...          ...           ...          ...             ...
45            4.8          3.0           1.4          0.3     Iris-setosa
46            5.1          3.8           1.6          0.2     Iris-setosa
47            4.6          3.2           1.4          0.2     Iris-setosa
48            5.3          3.7           1.5          0.2     Iris-setosa
49            5.0          3.3           1.4          0.2     Iris-setosa

[100 rows x 5 columns]

In [27]:
sorted_df = merged.sort_values(by='petal length', ascending=False)
sorted_df

     sepal length  sepal width  petal length  petal width           class
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
105           7.6          3.0           6.6          2.1  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
..            ...          ...           ...          ...             ...
40            5.0          3.5           1.3          0.3     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
35            5.0          3.2           1.2          0.2     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
22            4.6          3.6           1.0          0.2     Iris-setosa

[100 rows x 5 columns]

In [30]:
trans_df = df.transpose()
trans_df

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal length,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal width,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petal length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petal width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
class,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [32]:
melted_data = pd.melt(df, id_vars=['class'], value_vars=['sepal length', 'petal length'], var_name='Metric', value_name='Value')

In [33]:
melted_data

              class        Metric  Value
0       Iris-setosa  sepal length    5.1
1       Iris-setosa  sepal length    4.9
2       Iris-setosa  sepal length    4.7
3       Iris-setosa  sepal length    4.6
4       Iris-setosa  sepal length    5.0
..              ...           ...    ...
295  Iris-virginica  petal length    5.2
296  Iris-virginica  petal length    5.0
297  Iris-virginica  petal length    5.2
298  Iris-virginica  petal length    5.4
299  Iris-virginica  petal length    5.1

[300 rows x 3 columns]

In [34]:
wide_data = melted_data.pivot_table(index=['class'], columns='Metric', values='Value').reset_index()

In [35]:
wide_data

Metric            class  petal length  sepal length
0           Iris-setosa         1.464         5.006
1       Iris-versicolor         4.260         5.936
2        Iris-virginica         5.552         6.588